.flex-justify {
    display: flex;
    justify-content: center;
}

.clickable {
    cursor: pointer;
    padding: 0px;
    margin-inline-end: 30px;
    transition: transform 100ms;
}

.clickable:hover {
    transform: scale(1.05);
}