.clickable {
    cursor: pointer;
    transition: transform 100ms;
}

.clickable:hover {
    transform: scale(1.05);
}

.cursor-pointer {
    cursor: pointer;
}

.background-lightgray {
    background-color: rgb(210, 210, 210);
}

.color-lightgray {
    color: rgb(210, 210, 210);
}

.background-verylightgray {
    background-color: rgb(240, 240, 240);
}

.color-verylightgray {
    color: rgb(240, 240, 240);
}

.background-skyblue {
    background-color: rgb(185, 226, 235);
}

.color-skyblue {
    color: rgb(185, 226, 235);
}